<form class="mt-4" name="container-form" method="POST" action="/courses/handle-form-actions">
  <div>
    <h3>Khoá học của tôi</h3>
    <a href="/me/trash/courses">Thùng rác ({{deletedCount}})</a>

    <div class="mt-4 d-flex align-items-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">
          Chọn tất cả
        </label>
      </div>

      <select class="form-control form-control-sm checkbox-select-all-options" name="action" required>
        <option value="">-- Chọn hành động --</option>
        <option value="delete">Xóa</option>
      </select>

      <button class="btn btn-primary btn-sm check-all-submit-btn " disabled="disabled">Thực hiện</button>

    </div>
  </div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">
          ID
          {{{sortable '_id' _sort}}}
        </th>
        <th scope="col">
          Tên khóa học
          {{{sortable 'name' _sort}}}
        </th>
        <th scope="col">
          Trình độ
          {{{sortable 'level' _sort}}}
        </th>
        <th scope="col">
          Thời gian tạo
          {{{sortable 'createdAt' _sort}}}
        </th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
          </div>
        </td>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
          <a href="" class="btn btn-link" data-bs-toggle="modal" data-id="{{this._id}}"
            data-bs-target="#DeleteCourseModal">Xóa</a>
        </td>
      </tr>

      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          Bạn chưa đăng khóa học nào.
          <a href="/courses/create">Đăng khóa học</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</form>

{{!-- confirm delete courses --}}
<div id="DeleteCourseModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa khóa học này?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa bỏ</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-course-form" method="POST"></form>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    var courseId;
    var deleteForm = document.forms['delete-course-form'];
    //var containerForm = document.forms['container-form'];
    var containerForm = $('form[name="container-form"]');
    var DeleteCourseModal = document.getElementById('DeleteCourseModal')
    var checkboxAll = $('#checkbox-all');
    var courseItemCheckbox = $('input[name="courseIds[]"]')
    var checkAllSubmitBtn = $('.check-all-submit-btn')

    DeleteCourseModal.addEventListener('show.bs.modal', function (event) {
      // Button that triggered the modal
      var button = event.relatedTarget
      // Extract info from data-bs-* attributes
      var courseId = button.getAttribute('data-id')

      var btnDeleteCourse = document.getElementById('btn-delete-course');
      btnDeleteCourse.onclick = function () {
        deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
        deleteForm.submit();
      }
    });

    checkboxAll.change(function () {
      var isCheckedAll = $(this).prop('checked');
      courseItemCheckbox.prop('checked', isCheckedAll);
      renderCheckAllSubmitBtn();
    })

    courseItemCheckbox.change(function () {
      var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length
      checkboxAll.prop('checked', isCheckedAll)
      renderCheckAllSubmitBtn();
    })

    function renderCheckAllSubmitBtn() {
      var checkedCout = $('input[name="courseIds[]"]:checked').length
      if (checkedCout > 0) {
        checkAllSubmitBtn.attr('disabled', false)
      } else {
        checkAllSubmitBtn.attr('disabled', true)
      }
    }

  });

</script>